/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--white: #fff;
	--black: #0e1108;
	--red: #f22a48;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--white);
	background-size: cover;
}
.wrapper {
	width: 90%;
	margin: 1% auto;
	background-color: transparent;
}

.search {
	padding: 1% 2%;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
}
.search h1 {
	color: var(--white);
}
.search h1 span {
	color: var(--red);
}
.logo {
	color: var(--white);
	margin-left: 30%;
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	animation: moveRightToLeft 20s linear infinite;
	font-size: 1.5rem;
	font-weight: 700;
}
.logo span {
	color: var(--red);
	/* font-size: 1.2rem; */
	font-weight: 500;
	letter-spacing: 2px;
}
.logo-scroll {
	width: 100%;
	margin-left: 1%;
	overflow: hidden;
	position: relative;
}
@keyframes moveRightToLeft {
	0% {
		left: 100%;
	}
	100% {
		left: -80%;
	}
}
.search-input {
	font-size: 0.9rem;
	padding: 0 1%;
	transition-duration: 0.3s;
}
.search-btn {
	font-size: 0.9rem;
	margin-left: 2%;
	border: 1px solid var(--red);
	background: var(--red);
	color: var(--white);
	transition-duration: 0.3s;
	padding: 0 1%;
}
.search-btn:hover {
	background: var(--black);
	border: 1px solid var(--white);
	color: var(--white);
}
.error {
	text-align: center;
	margin-top: 3%;
	font-weight: 300;
	padding: 10% 0;
	display: none;
	color: var(--black);
	border-radius: 6px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.ghost-image {
	width: 5%;
	margin-bottom: 3%;
}
.error-h2 {
	font-size: 1.5rem;
}
.content {
	color: var(--white);
	margin-top: 3%;
	border-radius: 5px;
	padding: 2%;
	height: 70vh;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 3%;
}
.main-content {
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 10px #06090e, -5px -5px 2px #000;
	padding: 5%;
}
.today {
	color: var(--light-black);
	font-size: 1.1rem;
	font-weight: 100;
}
.city {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 2%;
}
.country {
	font-size: 1.1rem;
	font-weight: 100;
}
.weather-details {
	font-size: 1.1rem;
	font-weight: 100;
}
.weather-icon {
	width: 50%;
	border-radius: 50%;
	/* opacity: 70%; */
}
.temperature {
	margin-top: 5%;
	font-size: 2.5rem;
	font-weight: 700;
}
.temperature span {
	font-weight: 100;
	font-size: 3rem;
}
.secondary-content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 10%;
}
.about h1 {
	font-weight: 500;
	font-size: 0.9rem;
	margin-bottom: 5%;
	color: var(--black);
}
.about {
	padding: 3%;
	color: var(--black);
	background: rgba(255, 255, 255, 0.07);
	border-radius: 6px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.about p {
	font-size: 0.8rem;
	margin-bottom: 2%;
}
.secondary-left {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5%;
	margin-bottom: 5%;
}
.secondary-right {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5%;
	margin-bottom: 5%;
}

.details {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 5%;
	padding: 10%;
	background: rgba(255, 255, 255, 0.07);
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.39);
	border-radius: 6px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.details p {
	margin-bottom: 10%;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 0.9rem;
	color: var(--black);
}
.details span {
	color: var(--black);
	font-size: 1rem;
	font-weight: 600;
}

.secondary-top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}
.secondary-top-left {
	grid-row: 1/2;
}
.secondary-top-right {
	grid-row: 1/2;
}

.days div {
	margin-bottom: 3%;
	padding: 1%;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 10px #06090e, -5px -5px 2px #000;
}
.day {
	color: var(--white);
	padding: 3%;
	font-size: 1.2rem;
	font-weight: 200;
	margin-bottom: 3%;
}
.day-degrees {
	margin-right: 20px;
	text-align: end;
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 2%;
	color: var(--red);
}
.first-day {
	margin-top: 0;
}
.satelite {
	width: 50%;
	animation: spin 20s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.clear {
	background: url('./images/clear.jpeg');
	background-position: center;
	background-size: cover;
}
.rain {
	background: url('./images/rain.jpeg');
	background-position: center;
	background-size: cover;
}
.drizzle {
	background: url('./images/drizzle.jpeg');
	background-position: center;
	background-size: cover;
}

.cloudy {
	background: url('./images/cloudy.jpeg');
	background-position: center;
	background-size: cover;
}
.haze {
	background: url('./images/haze.jpeg');
	background-position: center;
	background-size: cover;
}
.snow {
	background: url('./images/snow.jpeg');
	background-position: center;
	background-size: cover;
}
.smoke {
	background: url('./images/smoke.jpg');
	background-position: center;
	background-size: cover;
}
.thunderstorm {
	background: url('./images/thunderstorm.jpeg');
	background-position: center;
	background-size: cover;
}
.footer {
	width: 100%;
	text-align: center;
	font-size: 0.8rem;
	text-decoration: none;
	font-weight: 300;
	padding: 0.3%;
	position: fixed;
	bottom: 0;

	color: var(--black);
}
.footer:hover {
	color: var(--red);
}
